<center>

<p id="notice"><%= notice %></p>
<br>
<font><h1>Historia</h1>

<hr></hr>

<table>
  <thead>
    <tr>
      <th>Historia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historia.each do |historium| %>
      <tr>
        <td><%= historium.body %></td>
        <td><%= link_to 'Ver', historium %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Editar', edit_historium_path(historium) %></td>
        <td><%= link_to 'Eliminar', historium, method: :delete, data: { confirm: '¿Estás Seguro?' } %></td>
      <<% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Historia',new_historium_path %>